database/**/*.csv
database/meteorology/unknown/*.csv
datatmp/*.pkl
log/*.csv
model/*.pkl
rawdata/osm/**/osm*
rawdata/poi/*.csv
rawdata/zheng2015/*.csv
result/*.csv
source/__pycache__/*
tmp/*.pkl
tmp/*.pdf
tmp/*.csv
tmp/*.txt
tmp/*.pt
.git/
.idea/

.python-version
env_name
database/.DS_Store
database/aqi/.DS_Store
database/station/.DS_Store
database/meteorology/.DS_Store
rawdata/.DS_Store
rawdata/osm/.DS_Store
rawdata/osm/develop/.DS_Store
rawdata/osm/small/.DS_Store
rawdata/osm/large/.DS_Store
rawdata/zheng2015/readme.pdf
