database/**/*.csv
database/meteorology/unknown/*.csv
dataset/*.pickle
model/*.pickle
rawdata/osm/**/osm*
rawdata/poi/*.csv
rawdata/zheng2015/*.csv
result/*.csv
log/*.csv
tmp/*.pickle
tmp/*.pdf
tmp/*.csv
tmp/*.txt
source/__pycache__/*
.git/
.idea/

.python-version
env_name
database/.DS_Store
database/aqi/.DS_Store
database/station/.DS_Store
database/meteorology/.DS_Store
rawdata/.DS_Store
rawdata/osm/.DS_Store
rawdata/osm/develop/.DS_Store
rawdata/osm/small/.DS_Store
rawdata/osm/large/.DS_Store
rawdata/zheng2015/readme.pdf
tmp/checkpoint.pt
